# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# R Studio files and folders
*.Rproj
.Rproj.user

# Data folders used in this project
sourceData
tidyData
